{
  "openapi": "3.0.0",
  "info": {
    "title": "My API",
    "description": "API Documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://political.skyraantech.com/server/api"
    }
  ],
  "paths": {
    "/auth/requestotp": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Send Otp to related",
        "description": "Send OTP via email or phn_num",
        "responses": {
          "200": {
            "description": "OTP send successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "abc@gmail.com"
                  },
                  "c_code": {
                    "type": "string",
                    "example": "+91"
                  },
                  "phn_num": {
                    "type": "string",
                    "example": "9876543210"
                  },
                  "type": {
                    "type": "number",
                    "example": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/verifyotp": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Verify Otp to related",
        "description": "Verify OTP via email or phn_num",
        "responses": {
          "200": {
            "description": "OTP verified successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "abc@gmail.com"
                  },
                  "c_code": {
                    "type": "string",
                    "example": "+91"
                  },
                  "phn_num": {
                    "type": "string",
                    "example": "9876543210"
                  },
                  "otp": {
                    "type": "string",
                    "example": "1234"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Sign Up",
        "description": "User sign up. To create new user",
        "responses": {
          "200": {
            "description": "User signed up successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "skyraan"
                  },
                  "phn_num": {
                    "type": "string",
                    "example": "8888833377"
                  },
                  "c_code": {
                    "type": "string",
                    "example": "+91"
                  },
                  "email": {
                    "type": "string",
                    "example": "kumar@gmail.com"
                  },
                  "device_token": {
                    "type": "string",
                    "example": "abcd"
                  },
                  "device_id": {
                    "type": "string",
                    "example": "#1234hsykrnaa"
                  },
                  "device_type": {
                    "type": "string",
                    "example": "ios"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Login",
        "description": "User Login",
        "responses": {
          "200": {
            "description": "User logged in successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "skyraan@gmail.com"
                  },
                  "device_token": {
                    "type": "string",
                    "example": "abc"
                  },
                  "device_id": {
                    "type": "string",
                    "example": "#skyandro000"
                  },
                  "device_type": {
                    "type": "string",
                    "example": "android"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/upload": {
      "post": {
        "tags": [
          "2.Media"
        ],
        "summary": "Upload media",
        "description": "Upload images, videos or documents",
        "responses": {
          "200": {
            "description": "Media uploaded successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "user_id": {
                    "type": "string",
                    "example": "USR001"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/upload-docs": {
      "post": {
        "tags": [
          "2.Media"
        ],
        "summary": "Upload Documents",
        "description": "Upload documents only",
        "responses": {
          "200": {
            "description": "Documents uploaded successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "user_id": {
                    "type": "string",
                    "example": "USR001"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/upload-imgs": {
      "post": {
        "tags": [
          "2.Media"
        ],
        "summary": "Upload Images ",
        "description": "Upload Images Only",
        "responses": {
          "200": {
            "description": "Images uploaded successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "user_id": {
                    "type": "string",
                    "example": "USER_efKL6767"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/upload-vids": {
      "post": {
        "tags": [
          "2.Media"
        ],
        "summary": "Upload Videos ",
        "description": "Upload Videos Only",
        "responses": {
          "200": {
            "description": "Videos uploaded successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "user_id": {
                    "type": "string",
                    "example": "USER_efKL6767"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/addrole": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role_name": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/updaterole": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "role_name": {
                    "example": "any"
                  },
                  "status": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/getrole": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/source/add-finance-category": {
      "post": {
        "tags": [
          "9.Source"
        ],
        "summary": "Add or Update Finance Category",
        "description": "",
        "responses": {
          "200": {
            "description": "Finance Catgory saved successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "cat_name": {
                    "type": "string",
                    "example": "Medical Expense"
                  },
                  "cat_type": {
                    "type": "string",
                    "example": "income or expense"
                  },
                  "cat_img": {
                    "type": "string",
                    "example": 1
                  },
                  "status": {
                    "type": "string",
                    "example": "active or inactive"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/get-finance-category": {
      "post": {
        "tags": [
          "9.Source"
        ],
        "summary": "Get Finance Category",
        "description": "",
        "responses": {
          "200": {
            "description": "Finance Catgory Fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "status": {
                    "type": "string",
                    "example": "active or inactive"
                  },
                  "cat_type": {
                    "type": "string",
                    "example": "income or expense"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/getuserprofile": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/user/updateuserprofile": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/faq/addfaq": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "question": {
                    "example": "any"
                  },
                  "answer": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/faq/getfaq": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/faq/updatefaq": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "question": {
                    "example": "any"
                  },
                  "answer": {
                    "example": "any"
                  },
                  "status": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/faq/contact_us": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/faq/filterapi": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/faq/getcountry": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/travel/addtravel": {
      "post": {
        "tags": [
          "6.TRAVEL"
        ],
        "summary": "Add Travel",
        "description": "Add a new travel plan",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_ZNLl2665"
                  },
                  "title": {
                    "type": "string",
                    "example": "Munnar Trip"
                  },
                  "descp": {
                    "type": "string",
                    "example": "Three days two nights trip"
                  },
                  "purpose": {
                    "type": "integer",
                    "example": 0
                  },
                  "travel_from": {
                    "type": "string",
                    "example": "Salem"
                  },
                  "from_lat": {
                    "type": "number",
                    "example": 25.87575
                  },
                  "from_lng": {
                    "type": "number",
                    "example": 67.5443
                  },
                  "travel_to": {
                    "type": "string",
                    "example": "Yercaud"
                  },
                  "to_lat": {
                    "type": "number",
                    "example": 67.544
                  },
                  "to_lng": {
                    "type": "number",
                    "example": 78.655
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-06-04 12:01:45"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-06-04 13:01:45"
                  },
                  "vech_mode": {
                    "type": "string",
                    "example": "car"
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,2,3"
                  },
                  "in_hotel": {
                    "type": "integer",
                    "example": 1
                  },
                  "hot_name": {
                    "type": "string",
                    "example": "RHR"
                  },
                  "hot_address": {
                    "type": "string",
                    "example": "Near Junction"
                  },
                  "hot_lat": {
                    "type": "number",
                    "example": 83.333
                  },
                  "hot_lng": {
                    "type": "number",
                    "example": 43.333
                  },
                  "hot_in": {
                    "type": "string",
                    "example": "2026-06-04 16:01:40"
                  },
                  "hot_out": {
                    "type": "string",
                    "example": "2026-06-04 18:30:40"
                  },
                  "hot_media": {
                    "type": "string",
                    "example": "5,6"
                  },
                  "is_remind": {
                    "type": "integer",
                    "example": 1
                  },
                  "remind_tenure": {
                    "type": "integer",
                    "example": 600
                  },
                  "snooze_at": {
                    "type": "integer",
                    "example": 120
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/deletetravel": {
      "post": {
        "tags": [
          "6.TRAVEL"
        ],
        "summary": "Delete Travel",
        "description": "Delete travel by passing id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 2
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/updatetravel": {
      "post": {
        "tags": [
          "6.TRAVEL"
        ],
        "summary": "Update Travel",
        "description": "Update travel by passing id and other fields to update",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 10
                  },
                  "title": {
                    "type": "string",
                    "example": "Ooty Travel"
                  },
                  "descp": {
                    "type": "string",
                    "example": "IV from college"
                  },
                  "purpose": {
                    "type": "integer",
                    "example": 1
                  },
                  "travel_from": {
                    "type": "string",
                    "example": "Coimbatore"
                  },
                  "from_lat": {
                    "type": "number",
                    "example": 70.33234
                  },
                  "from_lng": {
                    "type": "number",
                    "example": 60.123
                  },
                  "travel_to": {
                    "type": "string",
                    "example": "Bangalore"
                  },
                  "to_lat": {
                    "type": "number",
                    "example": 50.123
                  },
                  "to_lng": {
                    "type": "number",
                    "example": 50.321
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-06-04 12:01:45"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-06-05 21:30:45"
                  },
                  "vech_mode": {
                    "type": "string",
                    "example": "train"
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,2,3"
                  },
                  "in_hotel": {
                    "type": "integer",
                    "example": 1
                  },
                  "hot_name": {
                    "type": "string",
                    "example": "RHR"
                  },
                  "hot_address": {
                    "type": "string",
                    "example": "Near Junction"
                  },
                  "hot_lat": {
                    "type": "number",
                    "example": 12.3433
                  },
                  "hot_lng": {
                    "type": "number",
                    "example": 10.3322
                  },
                  "hot_in": {
                    "type": "string",
                    "example": "2026-06-04 20:10:20"
                  },
                  "hot_out": {
                    "type": "string",
                    "example": "2026-06-04 20:30:20"
                  },
                  "hot_media": {
                    "type": "string",
                    "example": "1,2,3"
                  },
                  "is_remind": {
                    "type": "integer",
                    "example": 1
                  },
                  "remind_tenure": {
                    "type": "integer",
                    "example": 600
                  },
                  "snooze_at": {
                    "type": "integer",
                    "example": 120
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/gettravel": {
      "post": {
        "tags": [
          "6.TRAVEL"
        ],
        "summary": "Get Travel",
        "description": "Get travel details by passing user_id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel details fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_ZNLl2665"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/adddaily": {
      "post": {
        "tags": [
          "6.1.TRAVEL DAILY PLAN"
        ],
        "summary": "Add Daily Plan",
        "description": "Add a daily plan to a travel",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily plan added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_Z8bn0076"
                  },
                  "travel_id": {
                    "type": "integer",
                    "example": 3
                  },
                  "from": {
                    "type": "string",
                    "example": "Gandhipuram"
                  },
                  "to": {
                    "type": "string",
                    "example": "Prozone Mall"
                  },
                  "departure": {
                    "type": "string",
                    "example": "2026-06-04 15:30:30"
                  },
                  "vech_mode": {
                    "type": "string",
                    "example": "train"
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,2"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/updatedaily": {
      "post": {
        "tags": [
          "6.1.TRAVEL DAILY PLAN"
        ],
        "summary": "Update Daily Plan",
        "description": "Update a daily plan by passing id and other fields to update",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily plan updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 9
                  },
                  "from": {
                    "type": "string",
                    "example": "Gandhipuram"
                  },
                  "to": {
                    "type": "string",
                    "example": "Prozone Mall"
                  },
                  "departure": {
                    "type": "string",
                    "example": "2026-06-04 15:30:30"
                  },
                  "vech_mode": {
                    "type": "string",
                    "example": "flight"
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,2"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/deletedaily": {
      "post": {
        "tags": [
          "6.1.TRAVEL DAILY PLAN"
        ],
        "summary": "Delete Daily Plan",
        "description": "Delete a daily plan by passing id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily plan deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 9
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/addexpense": {
      "post": {
        "tags": [
          "6.2.TRAVEL EXPENSE"
        ],
        "summary": "Add Travel Expense",
        "description": "Add a travel expense",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel expense added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_ZNLl2665"
                  },
                  "travel_id": {
                    "type": "integer",
                    "example": 3
                  },
                  "category": {
                    "type": "string",
                    "example": "Bus Expense"
                  },
                  "notes": {
                    "type": "string",
                    "example": "Travelled in bus for meeting"
                  },
                  "exp_date": {
                    "type": "string",
                    "example": "1780230601000"
                  },
                  "amount": {
                    "type": "number",
                    "example": 87.89
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/deleteexpense": {
      "post": {
        "tags": [
          "6.2.TRAVEL EXPENSE"
        ],
        "summary": "Delete Travel Expense",
        "description": "Delete a travel expense by passing id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel expense deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 3
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/updateexpense": {
      "post": {
        "tags": [
          "6.2.TRAVEL EXPENSE"
        ],
        "summary": "Update Travel Expense",
        "description": "Update a travel expense by passing id and other fields to update",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel expense updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 3
                  },
                  "category": {
                    "type": "string",
                    "example": "Bus Expense"
                  },
                  "notes": {
                    "type": "string",
                    "example": "Travelled in bus for meeting"
                  },
                  "exp_date": {
                    "type": "string",
                    "example": "2026-06-10 18:39:38"
                  },
                  "amount": {
                    "type": "number",
                    "example": 100
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/getexpense": {
      "post": {
        "tags": [
          "6.2.TRAVEL EXPENSE"
        ],
        "summary": "Get Travel Expense",
        "description": "Get travel expenses by passing travel_id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel expenses fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "travel_id": {
                    "type": "integer",
                    "example": 3
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/addnotes": {
      "post": {
        "tags": [
          "6.3.TRAVEL NOTES"
        ],
        "summary": "Add Travel Notes",
        "description": "Add notes for a travel",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel notes added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_ZNLl2665"
                  },
                  "travel_id": {
                    "type": "integer",
                    "example": 4
                  },
                  "title": {
                    "type": "string",
                    "example": "Met Vijay Regarding New Posting"
                  },
                  "descp": {
                    "type": "string",
                    "example": "Gathered party members and went to meet PM"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/getnotes": {
      "post": {
        "tags": [
          "6.3.TRAVEL NOTES"
        ],
        "summary": "Get Travel Notes",
        "description": "Get travel notes by passing travel_id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel notes fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "travel_id": {
                    "type": "integer",
                    "example": 10
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/updatenotes": {
      "post": {
        "tags": [
          "6.3.TRAVEL NOTES"
        ],
        "summary": "Update Travel Notes",
        "description": "Update travel notes by passing id and other fields to update",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel notes updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 4
                  },
                  "title": {
                    "type": "string",
                    "example": "Met Vijay Regarding New Posting"
                  },
                  "descp": {
                    "type": "string",
                    "example": "Gathered party members and went to meet PM"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/deletenotes": {
      "post": {
        "tags": [
          "6.3.TRAVEL NOTES"
        ],
        "summary": "Delete Travel Notes",
        "description": "Delete travel notes by passing id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel notes deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 3
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/addtravelphotos": {
      "post": {
        "tags": [
          "6.4.TRAVEL PHOTOS"
        ],
        "summary": "Add Travel Photos",
        "description": "Add photos to a travel",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel photos added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_ZNLl2665"
                  },
                  "travel_id": {
                    "type": "integer",
                    "example": 10
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,2,3"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/updatetravelphotos": {
      "post": {
        "tags": [
          "6.4.TRAVEL PHOTOS"
        ],
        "summary": "Update Travel Photos",
        "description": "Update travel photos by passing id and media_id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel photos updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 10
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,2,3"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/gettravelphotos": {
      "post": {
        "tags": [
          "6.4.TRAVEL PHOTOS"
        ],
        "summary": "Get Travel Photos",
        "description": "Get travel photos by passing travel_id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel photos fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "travel_id": {
                    "type": "integer",
                    "example": 10
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/deletetravelphotos": {
      "post": {
        "tags": [
          "6.4.TRAVEL PHOTOS"
        ],
        "summary": "DELETE TRAVEL PHOTOS",
        "description": "Delete travel photos by passing travel id and media id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel photos deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "travel_id": {
                    "type": "integer",
                    "example": 10
                  },
                  "media_id": {
                    "type": "string",
                    "example": "15"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/addtraveldocs": {
      "post": {
        "tags": [
          "6.5.TRAVEL Documents"
        ],
        "summary": "ADD TRAVEL DOCUMENTS",
        "description": "Add travel documents",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel documents added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_ZNLl2665"
                  },
                  "travel_id": {
                    "type": "integer",
                    "example": 10
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,2,3"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/updatetraveldocs": {
      "post": {
        "tags": [
          "6.5.TRAVEL Documents"
        ],
        "summary": "UPDATE TRAVEL DOCUMENTS",
        "description": "Update travel documents by passing travel id and other update fields",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel documents updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "travel_id": {
                    "type": "integer",
                    "example": 10
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,2,3"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/gettraveldocs": {
      "post": {
        "tags": [
          "6.5.TRAVEL Documents"
        ],
        "summary": "GET TRAVEL DOCUMENTS",
        "description": "Get travel documents by passing travel id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel documents fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "travel_id": {
                    "type": "integer",
                    "example": 10
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/deletetraveldocs": {
      "post": {
        "tags": [
          "6.5.TRAVEL Documents"
        ],
        "summary": "DELETE TRAVEL DOCUMENTS",
        "description": "Delete travel documents by passing travel id and media id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel documents deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "travel_id": {
                    "type": "integer",
                    "example": 10
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,2,3"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/finance/add-finance-data": {
      "post": {
        "tags": [
          "10.Finance"
        ],
        "summary": "Add or Update Finance",
        "description": "",
        "responses": {
          "200": {
            "description": "Finance saved successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "user_id": {
                    "type": "string",
                    "example": "USER_Yl_e5736"
                  },
                  "type": {
                    "type": "string",
                    "example": "income"
                  },
                  "cat_id": {
                    "type": "string",
                    "example": "1"
                  },
                  "cat_name": {
                    "type": "string",
                    "example": "Medical Expense"
                  },
                  "trans_date": {
                    "type": "string",
                    "example": "2026-06-03"
                  },
                  "amount": {
                    "type": "number",
                    "example": 1500
                  },
                  "notes": {
                    "type": "string",
                    "example": "Hospital bill"
                  },
                  "attachment": {
                    "type": "string",
                    "example": "1,2,3"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/finance/get-finance-data": {
      "post": {
        "tags": [
          "10.Finance"
        ],
        "summary": "Get Finance Data",
        "description": "Fetch finance data based on filters",
        "responses": {
          "200": {
            "description": "Finance data fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "user_id": {
                    "type": "string",
                    "example": "USER_Yl_e5736"
                  },
                  "type": {
                    "type": "string",
                    "example": "income"
                  },
                  "category": {
                    "type": "string",
                    "example": "medical"
                  },
                  "amount": {
                    "type": "number",
                    "example": 1500
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-03-22"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-03-25"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/finance/remove-finance-data": {
      "post": {
        "tags": [
          "10.Finance"
        ],
        "summary": "Remove Finance Data",
        "description": "Delete Finance Data BY ID",
        "responses": {
          "200": {
            "description": "Finance data removed successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/finance/get-report-data": {
      "post": {
        "tags": [
          "10.Finance"
        ],
        "summary": "get Report Data",
        "description": "Get Report Data",
        "responses": {
          "200": {
            "description": "Report data fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_Yl_e5736"
                  },
                  "type": {
                    "type": "string",
                    "example": "income"
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-03-22"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-03-25"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/finance/get-report-download": {
      "post": {
        "tags": [
          "10.Finance"
        ],
        "summary": "get Report Download",
        "description": "Get Report Download",
        "responses": {
          "200": {
            "description": "Report data downloaded successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_Yl_e5736"
                  },
                  "type": {
                    "type": "string",
                    "example": "income"
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-03-22"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-03-25"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/addfaq": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "question": {
                    "example": "any"
                  },
                  "answer": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/getfaq": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/updatefaq": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "question": {
                    "example": "any"
                  },
                  "answer": {
                    "example": "any"
                  },
                  "status": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/contact_us": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/support/filterapi": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/support/getcountry": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}