{
  "openapi": "3.0.0",
  "info": {
    "title": "My API",
    "description": "API Documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://political.skyraantech.com/server/api"
    }
  ],
  "paths": {
    "/auth/requestotp": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Send Otp to related",
        "description": "Send OTP via email or phn_num",
        "responses": {
          "200": {
            "description": "OTP send successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "abc@gmail.com"
                  },
                  "c_code": {
                    "type": "string",
                    "example": "+91"
                  },
                  "phn_num": {
                    "type": "string",
                    "example": "9876543210"
                  },
                  "type": {
                    "type": "number",
                    "example": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/verifyotp": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Verify Otp to related",
        "description": "Verify OTP via email or phn_num",
        "responses": {
          "200": {
            "description": "OTP verified successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "abc@gmail.com"
                  },
                  "c_code": {
                    "type": "string",
                    "example": "+91"
                  },
                  "phn_num": {
                    "type": "string",
                    "example": "9876543210"
                  },
                  "otp": {
                    "type": "string",
                    "example": "1234"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Sign Up",
        "description": "User sign up. To create new user",
        "responses": {
          "200": {
            "description": "User signed up successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "skyraan"
                  },
                  "phn_num": {
                    "type": "string",
                    "example": "8888833377"
                  },
                  "c_code": {
                    "type": "string",
                    "example": "+91"
                  },
                  "email": {
                    "type": "string",
                    "example": "kumar@gmail.com"
                  },
                  "device_token": {
                    "type": "string",
                    "example": "abcd"
                  },
                  "device_id": {
                    "type": "string",
                    "example": "#1234hsykrnaa"
                  },
                  "device_type": {
                    "type": "string",
                    "example": "ios"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Login",
        "description": "User Login",
        "responses": {
          "200": {
            "description": "User logged in successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "skyraan@gmail.com"
                  },
                  "device_token": {
                    "type": "string",
                    "example": "abc"
                  },
                  "device_id": {
                    "type": "string",
                    "example": "#skyandro000"
                  },
                  "device_type": {
                    "type": "string",
                    "example": "android"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/accrestore": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Account Restore",
        "description": "Account restore by passing email id",
        "responses": {
          "200": {
            "description": "Account restored successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "skyraan@gmail.com"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/upload": {
      "post": {
        "tags": [
          "2.Media"
        ],
        "summary": "Upload media",
        "description": "Upload images, videos or documents",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media uploaded successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "org_name": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "img-20213312"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/upload-docs": {
      "post": {
        "tags": [
          "2.Media"
        ],
        "summary": "Upload Documents",
        "description": "Upload documents only",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documents uploaded successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "user_id": {
                    "type": "string",
                    "example": "USR001"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/upload-imgs": {
      "post": {
        "tags": [
          "2.Media"
        ],
        "summary": "Upload Images ",
        "description": "Upload Images Only",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Images uploaded successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "user_id": {
                    "type": "string",
                    "example": "USER_efKL6767"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/upload-vids": {
      "post": {
        "tags": [
          "2.Media"
        ],
        "summary": "Upload Videos ",
        "description": "Upload Videos Only",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Videos uploaded successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "user_id": {
                    "type": "string",
                    "example": "USER_efKL6767"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/addrole": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role_name": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/updaterole": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "role_name": {
                    "example": "any"
                  },
                  "status": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/getmemberrole": {
      "post": {
        "tags": [
          "3.Member"
        ],
        "summary": "Get member role dropdown list",
        "description": "Get member role dropdown list",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "dropdown list fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/source/add-finance-category": {
      "post": {
        "tags": [
          "9.Source"
        ],
        "summary": "Add or Update Finance Category",
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Finance Catgory saved successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "cat_name": {
                    "type": "string",
                    "example": "Medical Expense"
                  },
                  "cat_type": {
                    "type": "string",
                    "example": "income or expense"
                  },
                  "cat_img": {
                    "type": "string",
                    "example": 1
                  },
                  "status": {
                    "type": "string",
                    "example": "active or inactive"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/get-finance-category": {
      "post": {
        "tags": [
          "9.Source"
        ],
        "summary": "Get Finance Category",
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Finance Catgory Fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "status": {
                    "type": "string",
                    "example": "active or inactive"
                  },
                  "cat_type": {
                    "type": "string",
                    "example": "income or expense"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/source/get-delete-reasons": {
      "get": {
        "tags": [
          "9.Source"
        ],
        "summary": "Get Delete Reasons",
        "description": "Fetch all active delete reasons.",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete reasons fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/meeting/addmember": {
      "post": {
        "tags": [
          "3.Member"
        ],
        "summary": "Add Member",
        "description": "Add a new member",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_IFZu5632"
                  },
                  "name": {
                    "type": "string",
                    "example": "paschal"
                  },
                  "phn_num": {
                    "type": "string",
                    "example": "9487570100"
                  },
                  "role_id": {
                    "type": "integer",
                    "example": 14
                  },
                  "country": {
                    "type": "string",
                    "example": "India"
                  },
                  "state": {
                    "type": "string",
                    "example": "Tamil Nadu"
                  },
                  "district": {
                    "type": "string",
                    "example": "Coimbatore"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/getmember": {
      "post": {
        "tags": [
          "3.Member"
        ],
        "summary": "Get Member",
        "description": "Get members by passing user_id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Members fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_IFZu5632"
                  },
                  "role_id": {
                    "type": "string",
                    "example": "1"
                  },
                  "district": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "coimbatore",
                      "salem",
                      "palakkad"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/updatemember": {
      "post": {
        "tags": [
          "3.Member"
        ],
        "summary": "Update Member",
        "description": "Update member details by passing id and fields to update",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 26
                  },
                  "name": {
                    "type": "string",
                    "example": "paschal"
                  },
                  "phn_num": {
                    "type": "string",
                    "example": "9487570100"
                  },
                  "role_id": {
                    "type": "integer",
                    "example": 14
                  },
                  "country": {
                    "type": "string",
                    "example": "Germany"
                  },
                  "state": {
                    "type": "string",
                    "example": "Bavaria"
                  },
                  "district": {
                    "type": "string",
                    "example": "Munich"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/deletemember": {
      "post": {
        "tags": [
          "3.Member"
        ],
        "summary": "Delete Member",
        "description": "Delete member by passing id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 26
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/addmeeting": {
      "post": {
        "tags": [
          "4.Meeting"
        ],
        "summary": "Add Meeting",
        "description": "Add a new meeting by passing required fields",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_efKL6767"
                  },
                  "title": {
                    "type": "string",
                    "example": "Meeting Title 100"
                  },
                  "descp": {
                    "type": "string",
                    "example": "Meeting description"
                  },
                  "m_type": {
                    "type": "integer",
                    "example": 0
                  },
                  "m_priority": {
                    "type": "integer",
                    "example": 2
                  },
                  "m_link": {
                    "type": "string",
                    "example": "https://meet.google.com/abc-defg-hij"
                  },
                  "notes": {
                    "type": "string",
                    "example": "Meeting notes created for reference"
                  },
                  "address": {
                    "type": "string",
                    "example": "10, Skyraan Building"
                  },
                  "lat": {
                    "type": "string",
                    "example": "10.23456"
                  },
                  "lng": {
                    "type": "string",
                    "example": "9.98765"
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1000,2,3,900,8999"
                  },
                  "attnds_id": {
                    "type": "string",
                    "example": "1,3,4,5"
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-06-10 14:40:32"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-06-10 14:40:32"
                  },
                  "is_remind": {
                    "type": "integer",
                    "example": 1
                  },
                  "remind_tenure": {
                    "type": "string",
                    "example": "300"
                  },
                  "snooze_at": {
                    "type": "string",
                    "example": "180"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/getmeeting": {
      "post": {
        "tags": [
          "4.Meeting"
        ],
        "summary": "Get Meeting",
        "description": "Get meetings by passing user_id. Optionally pass status (upcoming, cancelled, completed, pending)",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meetings fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_efKL6767"
                  },
                  "status": {
                    "type": "string",
                    "example": "pending,cancelled,completed"
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-06-12"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-06-13"
                  },
                  "page": {
                    "type": "number",
                    "example": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/getmeetingbyid": {
      "post": {
        "tags": [
          "4.Meeting"
        ],
        "summary": "Get Meeting by id",
        "description": "Get meetings by passing id.",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Individual Meeting fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/deletemeeting": {
      "post": {
        "tags": [
          "4.Meeting"
        ],
        "summary": "Delete Meeting",
        "description": "Delete meeting by passing id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 10
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/updatemeeting": {
      "post": {
        "tags": [
          "4.Meeting"
        ],
        "summary": "Update Meeting",
        "description": "Update meeting by passing id and other fields to update",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 8
                  },
                  "title": {
                    "type": "string",
                    "example": "Meeting Title 100"
                  },
                  "descp": {
                    "type": "string",
                    "example": "Meeting description"
                  },
                  "m_type": {
                    "type": "integer",
                    "example": 0
                  },
                  "m_priority": {
                    "type": "integer",
                    "example": 2
                  },
                  "m_link": {
                    "type": "string",
                    "example": "https://meet.google.com/abc-defg-hij"
                  },
                  "notes": {
                    "type": "string",
                    "example": "Meeting notes created for reference"
                  },
                  "address": {
                    "type": "string",
                    "example": "10, Skyraan Building"
                  },
                  "lat": {
                    "type": "string",
                    "example": "10.23456"
                  },
                  "lng": {
                    "type": "string",
                    "example": "9.98765"
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1000,2,3,900,8999"
                  },
                  "attnds_id": {
                    "type": "string",
                    "example": "1,3,4,5"
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-06-10 14:40:32"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-06-10 14:40:32"
                  },
                  "is_remind": {
                    "type": "integer",
                    "example": 1
                  },
                  "remind_tenure": {
                    "type": "string",
                    "example": "300"
                  },
                  "snooze_at": {
                    "type": "string",
                    "example": "180"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/addappointment": {
      "post": {
        "tags": [
          "5.Appointment"
        ],
        "summary": "Add Appointment",
        "description": "Add appointment by passing user_id and other required fields",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_Z8bn0076"
                  },
                  "title": {
                    "type": "string",
                    "example": "Booth Meeting"
                  },
                  "a_type": {
                    "type": "string",
                    "example": "Public Meeting"
                  },
                  "notes": {
                    "type": "string",
                    "example": "Regarding booth council meeting with ministers"
                  },
                  "address": {
                    "type": "string",
                    "example": "10, Skyraan 101, FCI Road, Ganapathy"
                  },
                  "lat": {
                    "type": "string",
                    "example": "10.23456"
                  },
                  "lng": {
                    "type": "string",
                    "example": "9.98765"
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,3,4,5,10"
                  },
                  "con_name": {
                    "type": "string",
                    "example": "Modi"
                  },
                  "con_desg": {
                    "type": "string",
                    "example": "Prime Minister"
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-06-16 14:40:32"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-06-17 14:40:32"
                  },
                  "is_remind": {
                    "type": "integer",
                    "example": 1
                  },
                  "remind_tenure": {
                    "type": "string",
                    "example": "300"
                  },
                  "snooze_at": {
                    "type": "string",
                    "example": "180"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/deleteappointment": {
      "post": {
        "tags": [
          "5.Appointment"
        ],
        "summary": "Delete Appointment",
        "description": "Delete appointment by passing id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 3
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/getappointment": {
      "post": {
        "tags": [
          "5.Appointment"
        ],
        "summary": "Get Appointment",
        "description": "Get appointments by passing user_id. Optionally pass status (upcoming, cancelled, completed, pending)",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointments fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_efKL6767"
                  },
                  "status": {
                    "type": "string",
                    "example": "pending,cancelled,completed"
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-06-12"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-06-16"
                  },
                  "page": {
                    "type": "number",
                    "example": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/getappointmentbyid": {
      "post": {
        "tags": [
          "5.Appointment"
        ],
        "summary": "Get Appointment by id",
        "description": "Get appointments by passing id.",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Individual Appointments fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/updateappointment": {
      "post": {
        "tags": [
          "5.Appointment"
        ],
        "summary": "Update Appointment",
        "description": "Update appointment by passing id and other fields to update",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 8
                  },
                  "title": {
                    "type": "string",
                    "example": "Booth Meeting"
                  },
                  "a_type": {
                    "type": "string",
                    "example": "Public Meeting"
                  },
                  "notes": {
                    "type": "string",
                    "example": "Regarding booth council meeting with ministers"
                  },
                  "address": {
                    "type": "string",
                    "example": "10, Skyraan 101, FCI Road, Ganapathy"
                  },
                  "lat": {
                    "type": "string",
                    "example": "10.23456"
                  },
                  "lng": {
                    "type": "string",
                    "example": "9.98765"
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,3,4,5,10"
                  },
                  "con_name": {
                    "type": "string",
                    "example": "Modi"
                  },
                  "con_desg": {
                    "type": "string",
                    "example": "Prime Minister"
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-06-19 14:40:32"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-06-19 18:40:32"
                  },
                  "is_remind": {
                    "type": "integer",
                    "example": 1
                  },
                  "remind_tenure": {
                    "type": "string",
                    "example": "300"
                  },
                  "snooze_at": {
                    "type": "string",
                    "example": "180"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/addfaq": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Add frequent questions and answers",
        "description": "Add frequent questions and answers",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "faq added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string",
                    "example": "faq question"
                  },
                  "answer": {
                    "type": "string",
                    "example": "faq answer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/getfaq": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Get frequent questions and answers",
        "description": "Get frequent questions and answers",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Faq list fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "active"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/updatefaq": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Udpate frequent questions and answers",
        "description": "Update frequent questions and answers",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Faq updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 1
                  },
                  "question": {
                    "type": "string",
                    "example": "faq question"
                  },
                  "answer": {
                    "type": "string",
                    "example": "faq answer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/deletefaq": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Delete and retrieve frequent questions and answers",
        "description": "Delete and retrieve frequent questions and answers, id and pass active to retrieve or pass inactive to delete",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Faq deleted or retrieved successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 1
                  },
                  "status": {
                    "type": "string",
                    "example": "active"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/deletefaqpermanently": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Delete faq permanently",
        "description": "Delete faq permanently",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Faq successfully deleted permanently"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/filterapi": {
      "post": {
        "tags": [
          "3.Member"
        ],
        "summary": "Get filter list for member filter",
        "description": "Get filter list for member filter as per the user added",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filter list fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_1JDE1213"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/getcountry": {
      "post": {
        "tags": [
          "3.Member"
        ],
        "summary": "Get Country,State,district DROPDOWN list",
        "description": "Get country,state,district Dropdowns by passing country and state",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filter list fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string",
                    "example": "India"
                  },
                  "state": {
                    "type": "string",
                    "example": "Tamil Nadu"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/statuschange": {
      "post": {
        "tags": [
          "15.Support Api`s"
        ],
        "summary": "Change status of Meeting,Appointment,Task,issues and political sumit",
        "description": "Change status",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "status changed successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 12
                  },
                  "status": {
                    "type": "string",
                    "example": "completed"
                  },
                  "type": {
                    "type": "string",
                    "example": "meeting"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/issuecategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Add category for issues and grievance",
        "description": "Add category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Issue category added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string",
                    "example": "Road"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/updateissuecategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Update category for issues and grievance",
        "description": "Update category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Issue category updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 1
                  },
                  "category": {
                    "type": "string",
                    "example": "Road"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/getissuecategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Get category for issues and grievance",
        "description": "get category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Issue category fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "active"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/deleteissuecategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Delete and retrieve Issue Categories",
        "description": "Delete and retrieve Issue Categories, id and pass active to retrieve or pass inactive to delete",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "issue categories deleted or retrieved successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 1
                  },
                  "status": {
                    "type": "string",
                    "example": "active"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/deleteissuecategorypermanently": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Delete and retrieve Issue Categories permanently",
        "description": "Delete and retrieve Issue Categories permanently by passing id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "issue categories successfully deleted permanently"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/addsumitcategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Add category for political sumit",
        "description": "Add category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "political sumit category added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string",
                    "example": "Road"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/getsumitcategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Get category for political sumit",
        "description": "get category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "political sumit category fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "active"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/updatesumitcategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Update category for political sumit",
        "description": "update category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "political sumit category updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 2
                  },
                  "category": {
                    "type": "string",
                    "example": "new category"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/deletesumitcategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Delete category for political sumit",
        "description": "Delete category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "political sumit category updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 2
                  },
                  "status": {
                    "type": "string",
                    "example": "active"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/deletesumitcategorypermanently": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Delete category permanently for political sumit",
        "description": "Delete category permanently",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "political sumit category permanently deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 2
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/addtravelexpcategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Add category for travel expense",
        "description": "Add category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel expense category added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string",
                    "example": "Road"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/updatetravelexpcategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Update category for travel expense",
        "description": "Update category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel expense category updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "numer",
                    "example": 1
                  },
                  "category": {
                    "type": "string",
                    "example": "Road"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/deletetravelexpcategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Delete category for travel expense",
        "description": "Delete category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel expense category updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 2
                  },
                  "status": {
                    "type": "string",
                    "example": "active"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/deletetravelexpcategorypermanently": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Delete category permanently for travel expense",
        "description": "Delete category permanently",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel expense category permanently deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 2
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/gettravelexpensecategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Get category for travel expense",
        "description": "get category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "travel expense category fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "active"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/addmembercategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Add category for member",
        "description": "Add category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member category added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string",
                    "example": "Road"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/updatemembercategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Update category for Member",
        "description": "Update category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member category updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "numer",
                    "example": 1
                  },
                  "category": {
                    "type": "string",
                    "example": "Road"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/deletemembercategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Delete category for member",
        "description": "Delete category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "member category updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 2
                  },
                  "status": {
                    "type": "string",
                    "example": "active"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/deletemembercategorypermanently": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Delete category permanently for member",
        "description": "Delete category permanently",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member category permanently deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 2
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/getmembercategory": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Get category for Member",
        "description": "get category",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member category fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "active"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/getuserlist": {
      "post": {
        "tags": [
          "16.Dashboard Api`s"
        ],
        "summary": "Get user list",
        "description": "get user list",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User`s list fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "active"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/addtravel": {
      "post": {
        "tags": [
          "6.TRAVEL"
        ],
        "summary": "Add Travel",
        "description": "Add a new travel plan",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_ZNLl2665"
                  },
                  "title": {
                    "type": "string",
                    "example": "Munnar Trip"
                  },
                  "descp": {
                    "type": "string",
                    "example": "Three days two nights trip"
                  },
                  "purpose": {
                    "type": "integer",
                    "example": 0
                  },
                  "travel_from": {
                    "type": "string",
                    "example": "Salem"
                  },
                  "from_lat": {
                    "type": "string",
                    "example": "25.87575"
                  },
                  "from_lng": {
                    "type": "string",
                    "example": "67.5443"
                  },
                  "travel_to": {
                    "type": "string",
                    "example": "Yercaud"
                  },
                  "to_lat": {
                    "type": "string",
                    "example": "67.544"
                  },
                  "to_lng": {
                    "type": "string",
                    "example": "78.655"
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-06-04 12:01:45"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-06-04 13:01:45"
                  },
                  "vech_mode": {
                    "type": "string",
                    "example": "car"
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,2,3"
                  },
                  "in_hotel": {
                    "type": "integer",
                    "example": 1
                  },
                  "hot_name": {
                    "type": "string",
                    "example": "RHR"
                  },
                  "hot_address": {
                    "type": "string",
                    "example": "Near Junction"
                  },
                  "hot_lat": {
                    "type": "string",
                    "example": "83.333"
                  },
                  "hot_lng": {
                    "type": "string",
                    "example": "43.333"
                  },
                  "hot_in": {
                    "type": "string",
                    "example": "2026-06-04 16:01:40"
                  },
                  "hot_out": {
                    "type": "string",
                    "example": "2026-06-04 18:30:40"
                  },
                  "hot_media": {
                    "type": "string",
                    "example": "5,6"
                  },
                  "is_remind": {
                    "type": "integer",
                    "example": 1
                  },
                  "remind_tenure": {
                    "type": "string",
                    "example": "600"
                  },
                  "snooze_at": {
                    "type": "string",
                    "example": "120"
                  },
                  "user_accept": {
                    "type": "number",
                    "example": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/deletetravel": {
      "post": {
        "tags": [
          "6.TRAVEL"
        ],
        "summary": "Delete Travel",
        "description": "Delete travel by passing id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 2
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/updatetravel": {
      "post": {
        "tags": [
          "6.TRAVEL"
        ],
        "summary": "Update Travel",
        "description": "Update travel by passing id and other fields to update",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 10
                  },
                  "title": {
                    "type": "string",
                    "example": "Ooty Travel"
                  },
                  "descp": {
                    "type": "string",
                    "example": "IV from college"
                  },
                  "purpose": {
                    "type": "integer",
                    "example": 1
                  },
                  "travel_from": {
                    "type": "string",
                    "example": "Coimbatore"
                  },
                  "from_lat": {
                    "type": "string",
                    "example": "70.33234"
                  },
                  "from_lng": {
                    "type": "string",
                    "example": "60.123"
                  },
                  "travel_to": {
                    "type": "string",
                    "example": "Bangalore"
                  },
                  "to_lat": {
                    "type": "string",
                    "example": "50.123"
                  },
                  "to_lng": {
                    "type": "string",
                    "example": "50.321"
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-06-04 12:01:45"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-06-05 21:30:45"
                  },
                  "vech_mode": {
                    "type": "string",
                    "example": "train"
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,2,3"
                  },
                  "in_hotel": {
                    "type": "integer",
                    "example": 1
                  },
                  "hot_name": {
                    "type": "string",
                    "example": "RHR"
                  },
                  "hot_address": {
                    "type": "string",
                    "example": "Near Junction"
                  },
                  "hot_lat": {
                    "type": "string",
                    "example": "12.3433"
                  },
                  "hot_lng": {
                    "type": "string",
                    "example": "10.3322"
                  },
                  "hot_in": {
                    "type": "string",
                    "example": "2026-06-04 20:10:20"
                  },
                  "hot_out": {
                    "type": "string",
                    "example": "2026-06-04 20:30:20"
                  },
                  "hot_media": {
                    "type": "string",
                    "example": "1,2,3"
                  },
                  "is_remind": {
                    "type": "integer",
                    "example": 1
                  },
                  "remind_tenure": {
                    "type": "string",
                    "example": "600"
                  },
                  "snooze_at": {
                    "type": "string",
                    "example": "120"
                  },
                  "user_accept": {
                    "type": "number",
                    "example": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/gettravel": {
      "post": {
        "tags": [
          "6.TRAVEL"
        ],
        "summary": "Get Travel",
        "description": "Get travel details by passing user_id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel details fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "USER_ZNLl2665"
                  },
                  "from_date": {
                    "type": "string",
                    "example": "2026-06-12"
                  },
                  "to_date": {
                    "type": "string",
                    "example": "2026-06-19"
                  },
                  "page": {
                    "type": "number",
                    "example": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/getravelbyid": {
      "post": {
        "tags": [
          "6.TRAVEL"
        ],
        "summary": "Get Travel by id",
        "description": "Get travel details by passing id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Individual Travel details fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/adddaily": {
      "post": {
        "tags": [
          "6.1.TRAVEL DAILY PLAN"
        ],
        "summary": "Add Daily Plan",
        "description": "Add a daily plan to a travel",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily plan added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "travel_id": {
                    "type": "integer",
                    "example": 3
                  },
                  "from": {
                    "type": "string",
                    "example": "Gandhipuram"
                  },
                  "to": {
                    "type": "string",
                    "example": "Prozone Mall"
                  },
                  "departure": {
                    "type": "string",
                    "example": "2026-06-04 15:30:30"
                  },
                  "vech_mode": {
                    "type": "string",
                    "example": "train"
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,2"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/updatedaily": {
      "post": {
        "tags": [
          "6.1.TRAVEL DAILY PLAN"
        ],
        "summary": "Update Daily Plan",
        "description": "Update a daily plan by passing id and other fields to update",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily plan updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 9
                  },
                  "from": {
                    "type": "string",
                    "example": "Gandhipuram"
                  },
                  "to": {
                    "type": "string",
                    "example": "Prozone Mall"
                  },
                  "departure": {
                    "type": "string",
                    "example": "2026-06-04 15:30:30"
                  },
                  "vech_mode": {
                    "type": "string",
                    "example": "flight"
                  },
                  "media_id": {
                    "type": "string",
                    "example": "1,2"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/deletedaily": {
      "post": {
        "tags": [
          "6.1.TRAVEL DAILY PLAN"
        ],
        "summary": "Delete Daily Plan",
        "description": "Delete a daily plan by passing id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily plan deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 9
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/addexpense": {
      "post": {
        "tags": [
          "6.2.TRAVEL EXPENSE"
        ],
        "summary": "Add Travel Expense",
        "description": "Add a travel expense",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel expense added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "travel_id": {
                    "type": "integer",
                    "example": 3
                  },
                  "cat_id": {
                    "type": "number",
                    "example": 2
                  },
                  "cat_name": {
                    "type": "string",
                    "example": "others"
                  },
                  "notes": {
                    "type": "string",
                    "example": "Travelled in bus for meeting"
                  },
                  "exp_date": {
                    "type": "string",
                    "example": "2026-06-22 10:23:31"
                  },
                  "amount": {
                    "type": "string",
                    "example": "87.89"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/deleteexpense": {
      "post": {
        "tags": [
          "6.2.TRAVEL EXPENSE"
        ],
        "summary": "Delete Travel Expense",
        "description": "Delete a travel expense by passing id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel expense deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 3
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/updateexpense": {
      "post": {
        "tags": [
          "6.2.TRAVEL EXPENSE"
        ],
        "summary": "Update Travel Expense",
        "description": "Update a travel expense by passing id and other fields to update",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel expense updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 3
                  },
                  "cat_id": {
                    "type": "number",
                    "example": 2
                  },
                  "cat_name": {
                    "type": "string",
                    "example": "others"
                  },
                  "notes": {
                    "type": "string",
                    "example": "Travelled in bus for meeting"
                  },
                  "exp_date": {
                    "type": "string",
                    "example": "2026-06-10 18:39:38"
                  },
                  "amount": {
                    "type": "string",
                    "example": "100.00"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/getexpense": {
      "post": {
        "tags": [
          "6.2.TRAVEL EXPENSE"
        ],
        "summary": "Get Travel Expense",
        "description": "Get travel expenses by passing travel_id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel expenses fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "travel_id": {
                    "type": "integer",
                    "example": 3
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/gettravelexpcategory": {
      "post": {
        "tags": [
          "6.2.TRAVEL EXPENSE"
        ],
        "summary": "Get travel expense categories",
        "description": "Get travel expense categories",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "travel expense categories fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/travel/addnotes": {
      "post": {
        "tags": [
          "6.3.TRAVEL NOTES"
        ],
        "summary": "Add Travel Notes",
        "description": "Add notes for a travel",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel notes added successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "travel_id": {
                    "type": "integer",
                    "example": 4
                  },
                  "title": {
                    "type": "string",
                    "example": "Met Vijay Regarding New Posting"
                  },
                  "descp": {
                    "type": "string",
                    "example": "Gathered party members and went to meet PM"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/getnotes": {
      "post": {
        "tags": [
          "6.3.TRAVEL NOTES"
        ],
        "summary": "Get Travel Notes",
        "description": "Get travel notes by passing travel_id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Travel notes fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "travel_id": {
                    "type": "integer",
                    "example": 10
                  }
                }
              }
            }
          }
        }
      }
    },
    "/travel/updatenotes": {
      "post": {
        "tags": [
          "6.3.TRAVEL NOTES"
        ],
        "summary": "Update Travel Notes",
[...]
